.container{

    width: 100%;
    background-color: yellow;
}
.same{
    display: flex;
    justify-content: center;
    min-height: 100svh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.two {
    margin: 40PX;
    width: 80%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 50px;
}
.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
 
 
}

input[type=text]{
    height: 40px;
    border-radius: 5px;
}
